<h1><%= @site.name %></h1>

<%= div_for @site.collection_points do |point| %>
    <h2>Collection Point: <%= point.name %></h2>

    <%= div_for point.soilmoistures.order("collection_time DESC") do |soil| %>
        <i><%= soil.collection_time %></i>
        <ul>
            <li>Depth A: <%= soil.deptha %></li>
            <li>Depth B: <%= soil.depthb %></li>
            <li>Deptch C: <%= soil.depthc %></li>
        </ul>
    <% end %>

<% end %>
